@{
    ViewData["Title"] = "Login Page";
}

<form action="" method="post"> 
    Username <input type="text" ><br />
    Password <input type="password" /><br />
    <input type="submit" value="Login"/>
    <input type="reset" value="Reset"/>
</form>
